.desktop{
    background-color:beige;
    margin: 40px 40px;
    font-family: "lus Jakarta", sans-serif;
}
.convert h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    margin-bottom: 0px;
}
.convert h3{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}
.image{
    position: absolute;
    background-color: yellow;
    border-radius: 50px;
    width: 600px;
    height: 350px;
    margin-left: 350px;
    margin-top: 20px;
}
.image img{
    position: relative;
    height: 600px;
    margin-left: 90px;
    margin-top: -60px;
}
.commission{
    display: flex;
    padding: 8px; 
    background-color: aliceblue;
    position: relative;
    border-radius: 10px;
    width: 250px;
    font-weight: normal;
    height: 45px;
    margin-left: 850px;
    margin-top: 60px;
}
.commission h3{
    font-size: 12px;
    margin-left: 7px;
}
.sign{
    position: relative;
    background-color:black;
    color: white;
    border-radius: 12px;
    height: 30px;
    width: 30px;
    font-size: xx-large;
    padding: 7px;
}
.join{
    position: absolute;
    display: flex;
    background-color: rgba(211, 30, 30, 0.712);
    color: white;
    border-radius:50px;
    width: 500px;
    height: 60px;
    margin-top: 420px;
    margin-left: 200px;
    margin-left: 500px;
    font-size: 25px;
    align-items:center;
    justify-content: start;
    padding-left: 10px;
    
}
.now{
    position: absolute;
    background-color: red;
    height: 40px;
    width: 105px;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 375px;
    padding: 8px;
    align-content: center;
    padding-left: 10px;

}
@media (max-width:768px){
    .desktop{
        text-align: center;
        width: 100%;
    }
    .image{
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        width: 600px;
        text-align: center;
    }
    .commission{
       display: none;
    }
    .join{
        display: flex;
        margin-top: 450px;
        margin-left: 150px;
        text-align: center;
    }
  }
    


