
.content {
    font: size 18px;
    margin-left: 20px;
    width: 400px;

}
.content h1{
    font-size: 30px;
    margin-bottom: 0px;
    font-family: arial;
}
.content h3{
    font-size: 15px;
    font-family:sans-serif;
    margin-top: 6px;
    font-weight: normal;

}
.send{
    background-color: white;
    color: black;
    width: 350px;
    border-radius: 7px;
    padding: 7px;
    margin-left: 18px;
}
.heading{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}
.send:hover{
    background-color: black;
    color: white;
    cursor: grab;
}
.image img{
    height: 490px;
    width: 900px;
    margin-left: 200px;
}
*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
@media (max-width: 768px){
    .image{
        margin-left: -150px;
    }
}
